/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  font-family: inherit;
  overflow-x: hidden; /* Evita scroll horizontal */
  max-width: 100vw; /* Garante que não ultrapasse a viewport */
}
