@font-face {
    font-family: 'fonte-noventa-principal';
    src: url('/assets/fontes/akira-expanded-demo.otf') format('opentype');
}

@font-face {
    font-family: 'demi-bold';
    src: url('/assets/fontes/tt-interphases-pro-trial-extrabold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'medium-italic';
    src: url('/assets/fontes/tt-interphases-pro-trial-medium-italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

body {
  font-family: var(--fonte-noventa);
  color: var(--cor-primaria);
  background: var(--cor-secundaria);
  line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--fonte-titulo);
  color: var(--cor-primaria);
  margin-bottom: 0.5em;
}
p {
  margin-bottom: 1em;
}
