:root {
  --cor-fundo: #fdfcf6;
  --cor-primaria: #111;
  --cor-secundaria: #fdfcf6;
  --cor-destaque: #e63946; 
  --vermelho-noventa: #c70223;
  --fonte-noventa: 'fonte-noventa-principal', Arial, sans-serif;
  --fonte-demi-bold: 'demi-bold', Arial, sans-serif;
  --fonte-texto-italic: 'medium-italic', sans-serif; 
  
  /* Variáveis para menu hambúrguer */
  --ponto-transform-left: translateX(-8px) scale(0.8);
  --ponto-transform-right: translateX(8px) scale(0.8);
  
  /* Responsivas para diferentes tamanhos */
  --ponto-transform-left-tablet: translateX(-7px) scale(0.8);
  --ponto-transform-right-tablet: translateX(7px) scale(0.8);
  
  --ponto-transform-left-mobile: translateX(-6px) scale(0.8);
  --ponto-transform-right-mobile: translateX(6px) scale(0.8);
  
  --ponto-transform-left-small: translateX(-5px) scale(0.8);
  --ponto-transform-right-small: translateX(5px) scale(0.8);
}
