@import url('base/_reset.css');
@import url('base/_typography.css');
@import url('base/_variables.css');

@import url('components/_header.css');
@import url('components/_footer.css');
@import url('components/_buttons.css');
@import url('components/_fotoshome.css');
@import url('components/_sidebar.css');
@import url('components/_modal.css');
@import url('components/_noticia-principal-home.css');
@import url('components/_preloader.css');

@import url('pages/_home.css'); 
@import url('pages/_contato.css'); 
@import url('pages/_galeria.css'); 
@import url('pages/_premiere.css'); 

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 95%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem 0;
    flex: 1 0 auto;
}

body > .container:first-of-type {
    margin-top: 20px;
}


@media (max-width: 1024px) {
    .container {
        width: 90%;
        padding: 0.8rem 0;
    }
    body > .container:first-of-type {
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 0.5rem 0;
    }
    body > .container:first-of-type {
        margin-top: 30px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 98%;
        padding: 0.5rem 0;
    }
    body > .container:first-of-type {
        margin-top: 20px;
    }
}

