/* ==================== FONTE PERSONALIZADA ==================== */
@font-face {
    font-family: 'FonteNoventaPrincipal';
    src: url('/assets/fontes/Akira Expanded Demo.otf') format('truetype');
}

@font-face {
    font-family: 'TTInterphasesProDemiBold';
    src: url('/assets/fontes/TT Interphases Pro Trial ExtraBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

body {
  font-family: var(--fonte-noventa);
  color: var(--cor-primaria);
  background: var(--cor-secundaria);
  line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--fonte-titulo);
  color: var(--cor-primaria);
  margin-bottom: 0.5em;
}
p {
  margin-bottom: 1em;
}
