:root {
  --cor-primaria: #111;
  --cor-secundaria: #fdfcf6;
  --cor-destaque: #e63946;
  --vermelho-noventa: #c70223;
  --fonte-noventa: 'TTInterphasesProDemiBold', Arial, sans-serif;
  --fonte-titulo: 'Akira Expanded Demo', Arial, sans-serif;
}
