#preloader {
    position: fixed;
    inset: 0;
    background-color: var(--vermelho-noventa);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.75s ease, visibility 0.75s ease;
}

#preloader.hidden {
    opacity: 0;
    visibility: hidden;
}

.preloader-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader-logo {
    width: 100px;
    height: auto;
    animation: logo-animation 4s infinite;
}

/* Removemos a regra .spinner
*/

@keyframes logo-animation {
    0% {
        transform: rotate(0deg) scale(1);
    }
    35% {
        transform: rotate(360deg) scale(1);
    }
    50% {
        transform: rotate(360deg) scale(1.2);
    }
    65% {
        transform: rotate(360deg) scale(1);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}